<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="Tozondo - Open Source systém pro rychlou a efektivní správu Vašich zaměstnanců.">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="keywords" content="system, zamestnanci, sprava zamestnancu">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="googlebot" content="index, follow"/>
	<meta name="robots" content="index, follow" />
	<meta name="author" content="Pavel">
	<meta charset="utf-8">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="icon" href="{{ URL::asset('images/favicon16x16.png') }}" type="image/png" sizes="16x16"/>
	<link rel="icon" href="{{ URL::asset('images/favicon32x32.png') }}" type="image/png" sizes="32x32"/>
	<link rel="icon" href="{{ URL::asset('images/favicon96x96.png') }}" type="image/png" sizes="96x96"/>

	<link href="{{ asset('css/app.css') }}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<title>Kataraz - Login</title>
	<style>





	</style>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">


</head>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">
<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

<!-- Menu-->
<nav class="fill navbar sticky-top navbar-light navbar-expand-sm " style="background-color: #F5F5F5" id="myScrollspy">
	<!-- Sekce logo -->
	<a class="navbar-brand" href="{{ url('/') }}" style="font-size: 22px;margin-left: 20px;">  Kataraz</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dropdownMenu">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="dropdownMenu">
		<ul class="navbar-nav navbar-collapse justify-content-end">
			<li class="nav-item"><a href="{{ route('register') }}" class="nav-link" style="font-family: 'Roboto', sans-serif; font-size: 15px;padding-left:15px;padding-right:15px;padding-bottom:15px;padding-top:15px;" >Registrovat se</a> </li>
		</ul>
	</div>
</nav>
<br><br>
<div class="container" >

</div>
</body>
</html>
