{*
 * Komponenta pro stránkování, může být klidně umístěna i pod tabulkou
 * ve VisualPaginator.latte lze změnit její vzhled
 *}
{snippet paginator}
    {control visualPaginator}
{/snippet}

{snippet table}

        <div class="col-lg-12 col-md-12 text-center" style="font-size: 30px;padding-bottom: 5px;padding-top:10px;">
            <div class="alert alert-info" role="alert">
                {$title}
            </div>
        </div>
<div class="row" style="margin-bottom: 50px;">
    {foreach $results as $resultId => $result}
            {foreach $result['images'] as $imageID => $imagePath}
                <div class="col-3 text-center" style="background-color: #F5F5F5;padding-top: 30px;padding-bottom: 30px;">
                    <a href="{plink {$destPresenter}:view $resultId}">
                        <img src="{$imagePath|dataStream}" class="img-thumbnail" width="350" style="margin-bottom: 10px;min-height: 350px;">
                        <h3 class="h4" style="background-color: #0275d8;color:white;border-radius: 25px;padding:10px;">{$result['title']}</h3>
                    </a>
                        <p class="text-muted text-center">{$result['description']|breaklines}</p>
                </div>
            {/foreach}
        {*
         * Zde bude vykreslování jednotlivých položek (hotely nebo pokoje)
         * $result je pole s prvky 'title', 'description' a 'images'
         * kde 'images' je pole ve tvaru imageID => imagePath
         * $resultId je ID entity, slouží pro vygenerování linku na view šablonu dané entity
         *}
    {/foreach}
{/snippet}
</div>
{*
 * Komponenta s filtry
 *}
<center>
{control filters}
    <p style="padding-bottom:50px;"></p>
</center>